<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>events</title>
  </head>
  <body>
    <header class="flex">
        <small>
            all events
        </small>
        <a href="/">Home</a>
    </header>
    <h1>the events</h1>
    <% if(events.length) { %> 
        <% events.forEach(a => { %>
            <div class="container">
              <div  class="box-card title">
                <a href="/event/<%= a.id %>">
                  <h2><%= a.title %></h2>
                </a>
              </div>
            </div>
            <% }) %> 
            <% } else { %>
            <h2>no events found</h2>
        <% } %>
  </body>
</html>