<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="flex">
            <small>
                Blog
            </small>
            <div>
                <a href="/">Home</a>
            </div>
        </div>
    </header>
    <div class="container box">
        <form action="/event" method="post">
            <h1>Add events</h1>
            <input type="text" name="title" placeholder="enter the titel" required>
            <input type="text" class="desc" name="description" placeholder="enter description">
            <input type="text" name="host" placeholder="host">
            <input type="date" name="start">
            <input type="date" name="end" >
            <input type="text" name="category" placeholder="category" required>
            <input type="submit" class="btn center" value="sumbit">
        </form>
    </div>
</body>
</html>